<div>
  <h1>Datos Crediticios</h1>
</div>
<mat-card appearance="outlined">
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>N° letra</mat-label>
        <input matInput placeholder="N° letra" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Tasa asignada</mat-label>
        <input matInput placeholder="Tasa asignada" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Titular</mat-label>
        <input matInput placeholder="Titular" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Tipo de Tasa</mat-label>
        <input matInput placeholder="Tipo de Tasa" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Monto original</mat-label>
        <input matInput placeholder="Monto original" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Capitalización</mat-label>
        <input matInput placeholder="Capitalización" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Fecha Emisión</mat-label>
        <input matInput placeholder="Fecha Emisión" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Línea aceptada</mat-label>
        <input matInput placeholder="Línea aceptada" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Fecha Venc.</mat-label>
        <input matInput placeholder="Fecha Venc." />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Fecha de pago</mat-label>
        <input matInput placeholder="Fecha de pago" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Divisa</mat-label>
        <input matInput placeholder="Divisa" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Tasa moratoria</mat-label>
        <input matInput placeholder="Tasa moratoria" />
      </mat-form-field>
    </form>
    <section>
      <div class="example-button-row">
        <button mat-flat-button>Aceptar</button>
      </div>
    </section>
    <br />
    <section>
      <div class="example-button-row">
        <button mat-flat-button>Cancelar</button>
      </div>
    </section>
  </mat-card-content></mat-card>