.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  justify-content: center; 
  text-align: center;
  gap: 20px;
  padding: 20px; 
}

img {
  width: 45%;
}

.texto {
  font-size: 30px;
}
