<mat-toolbar
  style="background-color: rgba(15, 227, 86, 0.45); text-emphasis-color: black"
  *ngIf="verificar()">
  <h1><strong>FactuFlex</strong></h1>
  <button mat-button [routerLink]="['/landing']">
    <mat-icon>home</mat-icon>Home
  </button>
  <button
    mat-button
    [matMenuTriggerFor]="menuClientes"
    *ngIf="isGerente() || isOperario()"
  >
    <mat-icon>face</mat-icon> Clientes
  </button>
  <button mat-button [matMenuTriggerFor]="menuOperacion" *ngIf="isOperario()">
    <mat-icon>balance</mat-icon> Operaciones
  </button>
  <button mat-button [matMenuTriggerFor]="menuSalir">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menuClientes="matMenu">
  <button mat-menu-item routerLink="/nuevo-cliente">Nuevo Cliente</button>
  <button mat-menu-item routerLink="/ver-clientes">Ver Clientes</button>
</mat-menu>
<mat-menu #menuOperacion="matMenu">
  <button mat-menu-item routerLink="/nueva-operacion">Nueva Operación</button>
  <button mat-menu-item routerLink="/ver-operacion">Ver Operaciones</button>
</mat-menu>

<mat-menu #menuSalir="matMenu">
  <button mat-menu-item routerLink="/login" (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
  <button mat-menu-item>
    Rol:
    <span>{{ role }}</span>
  </button>
</mat-menu>
<router-outlet></router-outlet>
