<section class="container">
<div class="login-form">
    <div class="logo">
      <img
        src="FactuFlex.png"
        alt="Logo de la empresa"
        width="500"
        height="500"
        style="flex: 1"
      />
    </div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Usuario" [(ngModel)]="username"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input
        type="password"
        matInput
        placeholder="Contraseña"
        [(ngModel)]="password"
      />
    </mat-form-field>
    <br />
    <button
      mat-raised-button
      color="primary"
      (click)="login()"
      class="full-width"
    >
      Iniciar Sesión
    </button>
</div>
</section>